In [1]:
import pandas 
import pandas as pd
df=pd.read_excel(r"C:\swathi\Swathi_Car_Mahindra_Benz_Audi.xlsx")
df

,CRA_NAME,BRAND,PRICE,EMI,FUEL_TYPE,MAKE YEAR,KM DRIVEN,REG YEAR,ENGINE CAPACITY,INSURANCE,REG NUMBER,SPARE KEY,OWNER SHIP,COLOR
0,XUV700 AX3 D MT 5 STR,Mahindra,15.12Lakh,"28,780/month",Diesel,2022,"28,671 km",feb _2023,2184 cc,"3rd party,valid till jan_2026",GJ20-AQ7511,Yes,1st owner,NaN
1,BOLERO NEO N10,Mahindra,10.57 Lakh,"20,119/month",Diesel,2022,"34,643 km",feb_2022,1493 cc,"Zero Depreciation,Valid till Feb - 2025",MH14 - JX3404,Yes,1st owner,NaN
2,XUV700 AX 7 STR,Mahindra,23.25 Lakh,"41,846/starts at",Petrol,jun_2022,"38,000 km",NaN,NaN,Third Party,NaN,NaN,1st owner,Blue
3,XUV700 AX 5 MT 5 STR,Mahindra,18.65 Lakh,"33,566/starts at",Diesel,jul_2022,"38,000 km",jul_2022,NaN,NaN,NaN,NaN,Second,White
4,XUV700 MX MT 5 STR,Mahindra,15.2 Lakh,"27,357/starts at",Petrol,jun_2022,"4,100 km",NaN,NaN,Third Party,NaN,NaN,1st owner,Blue
5,Scorpio Z8 AT 7 STR,Mahindra,20.75 Lakh,"37,346/starts at",Petrol,mar_2023,"6,827 km",may_2023,NaN,NaN,NaN,NaN,1st owner,Black
6,XUV700 AX 3 MT 5 STR,Mahindra,16 Lakh,"28,797/starts at",Petrol,jun_2022,"47,000 km",NaN,NaN,Comprehensive,NaN,NaN,1st owner,White
7,XUV700 MX MT 5 STR,Mahindra,14.9 Lakh,"26,817/starts at",Diesel,jun_2022,"11,000 km",NaN,NaN,Comprehensive,NaN,NaN,1st owner,White
8,BOLERO N8,Mhindra,9.25 Lakh,"16,648/starts at",Diesel,jun_2022,"51,000 km",NaN,NaN,NaN,NaN,NaN,1st owner,Black
9,XUV300 1.5 W6,Mhindra,9.75 Lakh,"17,548/starts at",Diesel,jun_2022,"34,000 km",NaN,NaN,NaN,NaN,NaN,1st owne,White

In [2]:
df.shape

(10, 14)

In [3]:
df.columns

Index(['CRA_NAME', 'BRAND', 'PRICE', 'EMI', 'FUEL_TYPE', 'MAKE YEAR',
       'KM DRIVEN', 'REG YEAR', 'ENGINE CAPACITY', 'INSURANCE', 'REG NUMBER',
       'SPARE KEY', 'OWNER SHIP', 'COLOR'],
      dtype='object')

In [4]:
df.head

<bound method NDFrame.head of                 CRA_NAME     BRAND       PRICE               EMI FUEL_TYPE  \
0  XUV700 AX3 D MT 5 STR  Mahindra   15.12Lakh      28,780/month    Diesel
1         BOLERO NEO N10  Mahindra  10.57 Lakh      20,119/month    Diesel
2        XUV700 AX 7 STR  Mahindra  23.25 Lakh  41,846/starts at    Petrol
3   XUV700 AX 5 MT 5 STR  Mahindra  18.65 Lakh  33,566/starts at    Diesel
4     XUV700 MX MT 5 STR  Mahindra   15.2 Lakh  27,357/starts at    Petrol
5    Scorpio Z8 AT 7 STR  Mahindra  20.75 Lakh  37,346/starts at    Petrol
6   XUV700 AX 3 MT 5 STR  Mahindra     16 Lakh  28,797/starts at    Petrol
7     XUV700 MX MT 5 STR  Mahindra   14.9 Lakh  26,817/starts at    Diesel
8              BOLERO N8   Mhindra   9.25 Lakh  16,648/starts at    Diesel
9          XUV300 1.5 W6   Mhindra   9.75 Lakh  17,548/starts at    Diesel

  MAKE YEAR  KM DRIVEN   REG YEAR ENGINE CAPACITY  \
0      2022  28,671 km  feb _2023         2184 cc
1      2022  34,643 km   feb_2022         1493 cc
2  jun_2022  38,000 km        NaN             NaN
3  jul_2022  38,000 km   jul_2022             NaN
4  jun_2022   4,100 km        NaN             NaN
5  mar_2023   6,827 km   may_2023             NaN
6  jun_2022  47,000 km        NaN             NaN
7  jun_2022  11,000 km        NaN             NaN
8  jun_2022  51,000 km        NaN             NaN
9  jun_2022  34,000 km        NaN             NaN

                                  INSURANCE     REG NUMBER SPARE KEY  \
0             3rd party,valid till jan_2026    GJ20-AQ7511       Yes
1  Zero Depreciation,Valid till Feb - 2025   MH14 - JX3404       Yes
2                               Third Party            NaN       NaN
3                                       NaN            NaN       NaN
4                               Third Party            NaN       NaN
5                                       NaN            NaN       NaN
6                             Comprehensive            NaN       NaN
7                             Comprehensive            NaN       NaN
8                                       NaN            NaN       NaN
9                                       NaN            NaN       NaN

  OWNER SHIP  COLOR
0  1st owner    NaN
1  1st owner    NaN
2  1st owner   Blue
3     Second  White
4  1st owner   Blue
5  1st owner  Black
6  1st owner  White
7  1st owner  White
8  1st owner  Black
9   1st owne  White  >

In [5]:
df.tail

<bound method NDFrame.tail of                 CRA_NAME     BRAND       PRICE               EMI FUEL_TYPE  \
0  XUV700 AX3 D MT 5 STR  Mahindra   15.12Lakh      28,780/month    Diesel
1         BOLERO NEO N10  Mahindra  10.57 Lakh      20,119/month    Diesel
2        XUV700 AX 7 STR  Mahindra  23.25 Lakh  41,846/starts at    Petrol
3   XUV700 AX 5 MT 5 STR  Mahindra  18.65 Lakh  33,566/starts at    Diesel
4     XUV700 MX MT 5 STR  Mahindra   15.2 Lakh  27,357/starts at    Petrol
5    Scorpio Z8 AT 7 STR  Mahindra  20.75 Lakh  37,346/starts at    Petrol
6   XUV700 AX 3 MT 5 STR  Mahindra     16 Lakh  28,797/starts at    Petrol
7     XUV700 MX MT 5 STR  Mahindra   14.9 Lakh  26,817/starts at    Diesel
8              BOLERO N8   Mhindra   9.25 Lakh  16,648/starts at    Diesel
9          XUV300 1.5 W6   Mhindra   9.75 Lakh  17,548/starts at    Diesel

  MAKE YEAR  KM DRIVEN   REG YEAR ENGINE CAPACITY  \
0      2022  28,671 km  feb _2023         2184 cc
1      2022  34,643 km   feb_2022         1493 cc
2  jun_2022  38,000 km        NaN             NaN
3  jul_2022  38,000 km   jul_2022             NaN
4  jun_2022   4,100 km        NaN             NaN
5  mar_2023   6,827 km   may_2023             NaN
6  jun_2022  47,000 km        NaN             NaN
7  jun_2022  11,000 km        NaN             NaN
8  jun_2022  51,000 km        NaN             NaN
9  jun_2022  34,000 km        NaN             NaN

                                  INSURANCE     REG NUMBER SPARE KEY  \
0             3rd party,valid till jan_2026    GJ20-AQ7511       Yes
1  Zero Depreciation,Valid till Feb - 2025   MH14 - JX3404       Yes
2                               Third Party            NaN       NaN
3                                       NaN            NaN       NaN
4                               Third Party            NaN       NaN
5                                       NaN            NaN       NaN
6                             Comprehensive            NaN       NaN
7                             Comprehensive            NaN       NaN
8                                       NaN            NaN       NaN
9                                       NaN            NaN       NaN

  OWNER SHIP  COLOR
0  1st owner    NaN
1  1st owner    NaN
2  1st owner   Blue
3     Second  White
4  1st owner   Blue
5  1st owner  Black
6  1st owner  White
7  1st owner  White
8  1st owner  Black
9   1st owne  White  >

In [6]:
df.info

<bound method DataFrame.info of                 CRA_NAME     BRAND       PRICE               EMI FUEL_TYPE  \
0  XUV700 AX3 D MT 5 STR  Mahindra   15.12Lakh      28,780/month    Diesel
1         BOLERO NEO N10  Mahindra  10.57 Lakh      20,119/month    Diesel
2        XUV700 AX 7 STR  Mahindra  23.25 Lakh  41,846/starts at    Petrol
3   XUV700 AX 5 MT 5 STR  Mahindra  18.65 Lakh  33,566/starts at    Diesel
4     XUV700 MX MT 5 STR  Mahindra   15.2 Lakh  27,357/starts at    Petrol
5    Scorpio Z8 AT 7 STR  Mahindra  20.75 Lakh  37,346/starts at    Petrol
6   XUV700 AX 3 MT 5 STR  Mahindra     16 Lakh  28,797/starts at    Petrol
7     XUV700 MX MT 5 STR  Mahindra   14.9 Lakh  26,817/starts at    Diesel
8              BOLERO N8   Mhindra   9.25 Lakh  16,648/starts at    Diesel
9          XUV300 1.5 W6   Mhindra   9.75 Lakh  17,548/starts at    Diesel

  MAKE YEAR  KM DRIVEN   REG YEAR ENGINE CAPACITY  \
0      2022  28,671 km  feb _2023         2184 cc
1      2022  34,643 km   feb_2022         1493 cc
2  jun_2022  38,000 km        NaN             NaN
3  jul_2022  38,000 km   jul_2022             NaN
4  jun_2022   4,100 km        NaN             NaN
5  mar_2023   6,827 km   may_2023             NaN
6  jun_2022  47,000 km        NaN             NaN
7  jun_2022  11,000 km        NaN             NaN
8  jun_2022  51,000 km        NaN             NaN
9  jun_2022  34,000 km        NaN             NaN

                                  INSURANCE     REG NUMBER SPARE KEY  \
0             3rd party,valid till jan_2026    GJ20-AQ7511       Yes
1  Zero Depreciation,Valid till Feb - 2025   MH14 - JX3404       Yes
2                               Third Party            NaN       NaN
3                                       NaN            NaN       NaN
4                               Third Party            NaN       NaN
5                                       NaN            NaN       NaN
6                             Comprehensive            NaN       NaN
7                             Comprehensive            NaN       NaN
8                                       NaN            NaN       NaN
9                                       NaN            NaN       NaN

  OWNER SHIP  COLOR
0  1st owner    NaN
1  1st owner    NaN
2  1st owner   Blue
3     Second  White
4  1st owner   Blue
5  1st owner  Black
6  1st owner  White
7  1st owner  White
8  1st owner  Black
9   1st owne  White  >

In [7]:
df.dtypes

CRA_NAME           object
BRAND              object
PRICE              object
EMI                object
FUEL_TYPE          object
MAKE YEAR          object
KM DRIVEN          object
REG YEAR           object
ENGINE CAPACITY    object
INSURANCE          object
REG NUMBER         object
SPARE KEY          object
OWNER SHIP         object
COLOR              object
dtype: object

In [9]:
type(df)

pandas.core.frame.DataFrame

In [10]:
import pandas 
import pandas as pd
df=pd.read_excel(r"C:\swathi\Swathi_Car_Mahindra_Benz_Audi.xlsx",sheet_name="Benz")
df

,CRA_NAME,BRAND,PRICE,EMI,FUEL_TYPE,MAKE YEAR,KM DRIVEN,REG YEAR,ENGINE CAPACITY,INSURANCE,REG NUMBER,SPARE KEY,OWNER SHIP,COLOR
0,Benz GL-Class 350 CDI,Benz,31.9 Lakh,"57,414 starts at",Diesel,2015-06-01,"80,660 km",NaN,NaN,NaN,NaN,NaN,Second,Brown
1,Benz S-Class 320 CDI,Benz,20 Lakh,Not Available,Not Available,2009-06-01,"59,900 km",NaN,NaN,NaN,NaN,NaN,First,Black
2,MG Astor Savvy 1.3 Turbo AT S Red,Benz,16 Lakh,"28,797 starts at",Petrol,2022-02-01,"21,690 km",NaN,NaN,NaN,NaN,NaN,First,Orange
3,MG AstorSuper 1.5 CVT,Benz,13.9 Lakh,"25,017 starts at",Petrol,2022-06-01,"27,200 km",NaN,NaN,Comprehensive,NaN,NaN,First,Black
4,MG Astor Super 1.5 CVT,Benz,13.95 Lakh,"25,107 starts at",Petrol,2022-06-01,"25,000 km",NaN,NaN,Third Party,NaN,NaN,First,Black
5,Benz SLK-CLASS 350,Benz,39.75 Lakh,Not Available,Petrol,2012-06-01,"35,628 km",NaN,NaN,Comprehensive,NaN,NaN,First,Red
6,Benz GLE 250 d,Benz,35.9 Lakh,"64,614 starts at",Diesel,2016-06-01,"86,700 km",NaN,NaN,NaN,NaN,NaN,First,Brown
7,Benz GLE 250 d,Benz,41 Lakh,"73,793 starts at",Diesel,2017-06-01,"1,04,940 km",NaN,NaN,NaN,NaN,NaN,First,White
8,Benz GLE 250 d,Benz,42.5 Lakh,"76,492 starts at",Diesel,2017-06-01,"82,000 km",NaN,NaN,NaN,NaN,NaN,First,Black
9,BENZ GLE 350 d,Benz,39.5 Lakh,"71,093 starts at",Diesel,2015-06-01,"79,435 km",NaN,NaN,NaN,NaN,NaN,First,White

In [11]:
df.shape

(10, 14)

In [12]:
df.columns

Index(['CRA_NAME', 'BRAND', 'PRICE', 'EMI', 'FUEL_TYPE', 'MAKE YEAR',
       'KM DRIVEN', 'REG YEAR', 'ENGINE CAPACITY', 'INSURANCE', 'REG NUMBER',
       'SPARE KEY', 'OWNER SHIP', 'COLOR'],
      dtype='object')

In [13]:
df.head

<bound method NDFrame.head of                             CRA_NAME BRAND       PRICE                 EMI  \
0              Benz GL-Class 350 CDI  Benz   31.9 Lakh  57,414  starts at
1               Benz S-Class 320 CDI  Benz     20 Lakh       Not Available
2  MG Astor Savvy 1.3 Turbo AT S Red  Benz     16 Lakh    28,797 starts at
3              MG AstorSuper 1.5 CVT  Benz   13.9 Lakh    25,017 starts at
4             MG Astor Super 1.5 CVT  Benz  13.95 Lakh    25,107 starts at
5                 Benz SLK-CLASS 350  Benz  39.75 Lakh       Not Available
6                     Benz GLE 250 d  Benz   35.9 Lakh   64,614  starts at
7                     Benz GLE 250 d  Benz     41 Lakh    73,793 starts at
8                     Benz GLE 250 d  Benz   42.5 Lakh    76,492 starts at
9                     BENZ GLE 350 d  Benz   39.5 Lakh   71,093  starts at

       FUEL_TYPE  MAKE YEAR    KM DRIVEN  REG YEAR  ENGINE CAPACITY  \
0         Diesel 2015-06-01    80,660 km       NaN              NaN
1  Not Available 2009-06-01    59,900 km       NaN              NaN
2         Petrol 2022-02-01    21,690 km       NaN              NaN
3         Petrol 2022-06-01    27,200 km       NaN              NaN
4         Petrol 2022-06-01    25,000 km       NaN              NaN
5         Petrol 2012-06-01    35,628 km       NaN              NaN
6         Diesel 2016-06-01    86,700 km       NaN              NaN
7         Diesel 2017-06-01  1,04,940 km       NaN              NaN
8         Diesel 2017-06-01    82,000 km       NaN              NaN
9         Diesel 2015-06-01    79,435 km       NaN              NaN

       INSURANCE  REG NUMBER  SPARE KEY OWNER SHIP   COLOR
0            NaN         NaN        NaN     Second   Brown
1            NaN         NaN        NaN      First   Black
2            NaN         NaN        NaN      First  Orange
3  Comprehensive         NaN        NaN      First   Black
4    Third Party         NaN        NaN      First   Black
5  Comprehensive         NaN        NaN      First     Red
6            NaN         NaN        NaN      First   Brown
7            NaN         NaN        NaN      First   White
8            NaN         NaN        NaN      First   Black
9            NaN         NaN        NaN      First   White  >

In [14]:
df.tail

<bound method NDFrame.tail of                             CRA_NAME BRAND       PRICE                 EMI  \
0              Benz GL-Class 350 CDI  Benz   31.9 Lakh  57,414  starts at
1               Benz S-Class 320 CDI  Benz     20 Lakh       Not Available
2  MG Astor Savvy 1.3 Turbo AT S Red  Benz     16 Lakh    28,797 starts at
3              MG AstorSuper 1.5 CVT  Benz   13.9 Lakh    25,017 starts at
4             MG Astor Super 1.5 CVT  Benz  13.95 Lakh    25,107 starts at
5                 Benz SLK-CLASS 350  Benz  39.75 Lakh       Not Available
6                     Benz GLE 250 d  Benz   35.9 Lakh   64,614  starts at
7                     Benz GLE 250 d  Benz     41 Lakh    73,793 starts at
8                     Benz GLE 250 d  Benz   42.5 Lakh    76,492 starts at
9                     BENZ GLE 350 d  Benz   39.5 Lakh   71,093  starts at

       FUEL_TYPE  MAKE YEAR    KM DRIVEN  REG YEAR  ENGINE CAPACITY  \
0         Diesel 2015-06-01    80,660 km       NaN              NaN
1  Not Available 2009-06-01    59,900 km       NaN              NaN
2         Petrol 2022-02-01    21,690 km       NaN              NaN
3         Petrol 2022-06-01    27,200 km       NaN              NaN
4         Petrol 2022-06-01    25,000 km       NaN              NaN
5         Petrol 2012-06-01    35,628 km       NaN              NaN
6         Diesel 2016-06-01    86,700 km       NaN              NaN
7         Diesel 2017-06-01  1,04,940 km       NaN              NaN
8         Diesel 2017-06-01    82,000 km       NaN              NaN
9         Diesel 2015-06-01    79,435 km       NaN              NaN

       INSURANCE  REG NUMBER  SPARE KEY OWNER SHIP   COLOR
0            NaN         NaN        NaN     Second   Brown
1            NaN         NaN        NaN      First   Black
2            NaN         NaN        NaN      First  Orange
3  Comprehensive         NaN        NaN      First   Black
4    Third Party         NaN        NaN      First   Black
5  Comprehensive         NaN        NaN      First     Red
6            NaN         NaN        NaN      First   Brown
7            NaN         NaN        NaN      First   White
8            NaN         NaN        NaN      First   Black
9            NaN         NaN        NaN      First   White  >

In [15]:
df.info

<bound method DataFrame.info of                             CRA_NAME BRAND       PRICE                 EMI  \
0              Benz GL-Class 350 CDI  Benz   31.9 Lakh  57,414  starts at
1               Benz S-Class 320 CDI  Benz     20 Lakh       Not Available
2  MG Astor Savvy 1.3 Turbo AT S Red  Benz     16 Lakh    28,797 starts at
3              MG AstorSuper 1.5 CVT  Benz   13.9 Lakh    25,017 starts at
4             MG Astor Super 1.5 CVT  Benz  13.95 Lakh    25,107 starts at
5                 Benz SLK-CLASS 350  Benz  39.75 Lakh       Not Available
6                     Benz GLE 250 d  Benz   35.9 Lakh   64,614  starts at
7                     Benz GLE 250 d  Benz     41 Lakh    73,793 starts at
8                     Benz GLE 250 d  Benz   42.5 Lakh    76,492 starts at
9                     BENZ GLE 350 d  Benz   39.5 Lakh   71,093  starts at

       FUEL_TYPE  MAKE YEAR    KM DRIVEN  REG YEAR  ENGINE CAPACITY  \
0         Diesel 2015-06-01    80,660 km       NaN              NaN
1  Not Available 2009-06-01    59,900 km       NaN              NaN
2         Petrol 2022-02-01    21,690 km       NaN              NaN
3         Petrol 2022-06-01    27,200 km       NaN              NaN
4         Petrol 2022-06-01    25,000 km       NaN              NaN
5         Petrol 2012-06-01    35,628 km       NaN              NaN
6         Diesel 2016-06-01    86,700 km       NaN              NaN
7         Diesel 2017-06-01  1,04,940 km       NaN              NaN
8         Diesel 2017-06-01    82,000 km       NaN              NaN
9         Diesel 2015-06-01    79,435 km       NaN              NaN

       INSURANCE  REG NUMBER  SPARE KEY OWNER SHIP   COLOR
0            NaN         NaN        NaN     Second   Brown
1            NaN         NaN        NaN      First   Black
2            NaN         NaN        NaN      First  Orange
3  Comprehensive         NaN        NaN      First   Black
4    Third Party         NaN        NaN      First   Black
5  Comprehensive         NaN        NaN      First     Red
6            NaN         NaN        NaN      First   Brown
7            NaN         NaN        NaN      First   White
8            NaN         NaN        NaN      First   Black
9            NaN         NaN        NaN      First   White  >

In [16]:
df.dtypes

CRA_NAME                   object
BRAND                      object
PRICE                      object
EMI                        object
FUEL_TYPE                  object
MAKE YEAR          datetime64[ns]
KM DRIVEN                  object
REG YEAR                  float64
ENGINE CAPACITY           float64
INSURANCE                  object
REG NUMBER                float64
SPARE KEY                 float64
OWNER SHIP                 object
COLOR                      object
dtype: object

In [17]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [18]:
type(df)

pandas.core.frame.DataFrame

In [19]:
import pandas 
import pandas as pd
df=pd.read_excel(r"C:\swathi\Swathi_Car_Mahindra_Benz_Audi.xlsx",sheet_name="Audi")
df

,CRA_NAME,BRAND,PRICE,EMI,Not Available,MAKE YEAR,KM DRIVEN,REG YEAR,ENGINE CAPACITY,INSURANCE,REG NUMBER,SPARE KEY,OWNER SHIP,COLOR
0,Audi A4 35 TDI Premium Sport,Audi,13.9 Lakh,25017 starts at,Diesel,2015-06-01,"57,211 km",NaN,NaN,NaN,NaN,NaN,Second,Brown
1,Audi Q3 35 TDI Premium+Sunroof,Audi,16.5 Lakh,"29,697 starts at",Diesel,2015-06-01,"1,07,900 km",NaN,NaN,NaN,NaN,NaN,First,Black
2,Audi Q3 2.O TDI quattro Premium Plus,Audi,15.95 Lakh,28707 starts at,Diesel,2014-06-01,"89,000 km",NaN,NaN,NaN,NaN,NaN,First,White
3,Audi A4 35 TDI Premium Sunroof,Audi,11.95 Lakh,"21,508 starts at",Diesel,2015-06-01,"94,000 km",NaN,NaN,Comprehensive,NaN,NaN,First,Grey
4,Audi A3 35 TDI Premium Plus + Sunroof,Audi,12 Lakh,"21,597 starts at",Diesel,2015-06-01,"35,000 km",NaN,NaN,Comprehensive,NaN,NaN,First,Audi
5,Audi A4 35 TDI Premium Plus,Audi,27 Lakh,"48,595 starts at",Diesel,2019-06-01,"10,000 km",NaN,NaN,Comprehensive,NaN,NaN,Second,White
6,Audi A4 30 TFSI Technology Pack,Audi,23.75 Lakh,"42,746 starts at",Petrol,2018-06-01,"37,500 km",NaN,NaN,Comprehensive,NaN,NaN,First,Black
7,Audi A4 2.0 TDI Sline,Audi,9 Lakh,NaN,NA,2012-06-01,"80,000 km",NaN,NaN,Third Party,NaN,NaN,Third,White
8,Audi A4 2.0 TDI Sline,Audi,9.5 Lakh,NaN,NaN,2013-06-01,"83,000 km",NaN,NaN,NaN,NaN,NaN,Second,Blue
9,Audi A4 2.0 TDI Sline,Audi,10 Lakh,NaN,NaN,2013-06-01,"78,000 km",NaN,NaN,Third Party,NaN,NaN,Second,Blue

In [20]:
df.shape

(10, 14)

In [21]:
df.columns

Index(['CRA_NAME', 'BRAND', 'PRICE', 'EMI', 'Not Available', 'MAKE YEAR',
       'KM DRIVEN', 'REG YEAR', 'ENGINE CAPACITY', 'INSURANCE', 'REG NUMBER',
       'SPARE KEY', 'OWNER SHIP', 'COLOR'],
      dtype='object')

In [22]:
df.head

<bound method NDFrame.head of                                  CRA_NAME BRAND       PRICE  \
0            Audi A4 35 TDI Premium Sport  Audi  13.9  Lakh
1          Audi Q3 35 TDI Premium+Sunroof  Audi   16.5 Lakh
2    Audi Q3 2.O TDI quattro Premium Plus  Audi  15.95 Lakh
3          Audi A4 35 TDI Premium Sunroof  Audi  11.95 Lakh
4  Audi A3 35 TDI  Premium Plus + Sunroof  Audi     12 Lakh
5             Audi A4 35 TDI Premium Plus  Audi     27 Lakh
6         Audi A4 30 TFSI Technology Pack  Audi  23.75 Lakh
7                   Audi A4 2.0 TDI Sline  Audi      9 Lakh
8                   Audi A4 2.0 TDI Sline  Audi    9.5 Lakh
9                   Audi A4 2.0 TDI Sline  Audi     10 Lakh

                 EMI Not Available  MAKE YEAR    KM DRIVEN  REG YEAR  \
0   25017  starts at        Diesel 2015-06-01    57,211 km       NaN
1   29,697 starts at        Diesel 2015-06-01  1,07,900 km       NaN
2    28707 starts at        Diesel 2014-06-01    89,000 km       NaN
3   21,508 starts at        Diesel 2015-06-01    94,000 km       NaN
4   21,597 starts at        Diesel 2015-06-01    35,000 km       NaN
5   48,595 starts at        Diesel 2019-06-01    10,000 km       NaN
6  42,746  starts at        Petrol 2018-06-01    37,500 km       NaN
7                NaN            NA 2012-06-01    80,000 km       NaN
8                NaN           NaN 2013-06-01    83,000 km       NaN
9                NaN           NaN 2013-06-01    78,000 km       NaN

   ENGINE CAPACITY      INSURANCE  REG NUMBER  SPARE KEY OWNER SHIP  COLOR
0              NaN            NaN         NaN        NaN     Second  Brown
1              NaN            NaN         NaN        NaN      First  Black
2              NaN            NaN         NaN        NaN      First  White
3              NaN  Comprehensive         NaN        NaN      First   Grey
4              NaN  Comprehensive         NaN        NaN      First   Audi
5              NaN  Comprehensive         NaN        NaN     Second  White
6              NaN  Comprehensive         NaN        NaN      First  Black
7              NaN    Third Party         NaN        NaN      Third  White
8              NaN            NaN         NaN        NaN     Second   Blue
9              NaN    Third Party         NaN        NaN     Second   Blue  >

In [23]:
df.tail

<bound method NDFrame.tail of                                  CRA_NAME BRAND       PRICE  \
0            Audi A4 35 TDI Premium Sport  Audi  13.9  Lakh
1          Audi Q3 35 TDI Premium+Sunroof  Audi   16.5 Lakh
2    Audi Q3 2.O TDI quattro Premium Plus  Audi  15.95 Lakh
3          Audi A4 35 TDI Premium Sunroof  Audi  11.95 Lakh
4  Audi A3 35 TDI  Premium Plus + Sunroof  Audi     12 Lakh
5             Audi A4 35 TDI Premium Plus  Audi     27 Lakh
6         Audi A4 30 TFSI Technology Pack  Audi  23.75 Lakh
7                   Audi A4 2.0 TDI Sline  Audi      9 Lakh
8                   Audi A4 2.0 TDI Sline  Audi    9.5 Lakh
9                   Audi A4 2.0 TDI Sline  Audi     10 Lakh

                 EMI Not Available  MAKE YEAR    KM DRIVEN  REG YEAR  \
0   25017  starts at        Diesel 2015-06-01    57,211 km       NaN
1   29,697 starts at        Diesel 2015-06-01  1,07,900 km       NaN
2    28707 starts at        Diesel 2014-06-01    89,000 km       NaN
3   21,508 starts at        Diesel 2015-06-01    94,000 km       NaN
4   21,597 starts at        Diesel 2015-06-01    35,000 km       NaN
5   48,595 starts at        Diesel 2019-06-01    10,000 km       NaN
6  42,746  starts at        Petrol 2018-06-01    37,500 km       NaN
7                NaN            NA 2012-06-01    80,000 km       NaN
8                NaN           NaN 2013-06-01    83,000 km       NaN
9                NaN           NaN 2013-06-01    78,000 km       NaN

   ENGINE CAPACITY      INSURANCE  REG NUMBER  SPARE KEY OWNER SHIP  COLOR
0              NaN            NaN         NaN        NaN     Second  Brown
1              NaN            NaN         NaN        NaN      First  Black
2              NaN            NaN         NaN        NaN      First  White
3              NaN  Comprehensive         NaN        NaN      First   Grey
4              NaN  Comprehensive         NaN        NaN      First   Audi
5              NaN  Comprehensive         NaN        NaN     Second  White
6              NaN  Comprehensive         NaN        NaN      First  Black
7              NaN    Third Party         NaN        NaN      Third  White
8              NaN            NaN         NaN        NaN     Second   Blue
9              NaN    Third Party         NaN        NaN     Second   Blue  >

In [24]:
df.info

<bound method DataFrame.info of                                  CRA_NAME BRAND       PRICE  \
0            Audi A4 35 TDI Premium Sport  Audi  13.9  Lakh
1          Audi Q3 35 TDI Premium+Sunroof  Audi   16.5 Lakh
2    Audi Q3 2.O TDI quattro Premium Plus  Audi  15.95 Lakh
3          Audi A4 35 TDI Premium Sunroof  Audi  11.95 Lakh
4  Audi A3 35 TDI  Premium Plus + Sunroof  Audi     12 Lakh
5             Audi A4 35 TDI Premium Plus  Audi     27 Lakh
6         Audi A4 30 TFSI Technology Pack  Audi  23.75 Lakh
7                   Audi A4 2.0 TDI Sline  Audi      9 Lakh
8                   Audi A4 2.0 TDI Sline  Audi    9.5 Lakh
9                   Audi A4 2.0 TDI Sline  Audi     10 Lakh

                 EMI Not Available  MAKE YEAR    KM DRIVEN  REG YEAR  \
0   25017  starts at        Diesel 2015-06-01    57,211 km       NaN
1   29,697 starts at        Diesel 2015-06-01  1,07,900 km       NaN
2    28707 starts at        Diesel 2014-06-01    89,000 km       NaN
3   21,508 starts at        Diesel 2015-06-01    94,000 km       NaN
4   21,597 starts at        Diesel 2015-06-01    35,000 km       NaN
5   48,595 starts at        Diesel 2019-06-01    10,000 km       NaN
6  42,746  starts at        Petrol 2018-06-01    37,500 km       NaN
7                NaN            NA 2012-06-01    80,000 km       NaN
8                NaN           NaN 2013-06-01    83,000 km       NaN
9                NaN           NaN 2013-06-01    78,000 km       NaN

   ENGINE CAPACITY      INSURANCE  REG NUMBER  SPARE KEY OWNER SHIP  COLOR
0              NaN            NaN         NaN        NaN     Second  Brown
1              NaN            NaN         NaN        NaN      First  Black
2              NaN            NaN         NaN        NaN      First  White
3              NaN  Comprehensive         NaN        NaN      First   Grey
4              NaN  Comprehensive         NaN        NaN      First   Audi
5              NaN  Comprehensive         NaN        NaN     Second  White
6              NaN  Comprehensive         NaN        NaN      First  Black
7              NaN    Third Party         NaN        NaN      Third  White
8              NaN            NaN         NaN        NaN     Second   Blue
9              NaN    Third Party         NaN        NaN     Second   Blue  >

In [25]:
df.dtypes

CRA_NAME                   object
BRAND                      object
PRICE                      object
EMI                        object
Not Available              object
MAKE YEAR          datetime64[ns]
KM DRIVEN                  object
REG YEAR                  float64
ENGINE CAPACITY           float64
INSURANCE                  object
REG NUMBER                float64
SPARE KEY                 float64
OWNER SHIP                 object
COLOR                      object
dtype: object

In [26]:
df.index

RangeIndex(start=0, stop=10, step=1)

In [27]:
type(df)

pandas.core.frame.DataFrame